.container {
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
  max-width: 700px;
  background: skyblue;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
  padding-top: 15px;
}
h2 {
  font-weight: bold;
  font-family: "montserrat", sans-serif;
}
h3 {
  font-weight: bold;
}
h4 {
  font-weight: normal;
  color: lightgray;
}
h6 {
  text-align: right;
}

.forecast {
  text-align: center;
  font-weight: bold;
}
